* {
    box-sizing: border-box;
    font-family: Monaco, Serif;
    font-size: 16px;
}

body {
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
/*  body has to have 100% view height for an item to be placed
    perfectly in the middle*/
    margin: 0;
}

.modal {
    height: 80vh;
    background-color: white;
    width: 900px;
    max-width: 80%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /*padding: 1rem; DON'T PUT PADDING HERE, PUT EVERYWHERE INDIVIDUALLY*/
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    border-bottom: 1px solid #777;
}

.modal-header-title {
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

.modal-header-close-button {
    border: none;
    background: none;
    font-size: 1.5rem;
    align-self: flex-start;
    padding-top: .5rem;
    cursor: pointer;
}

.modal-body {
    padding: 1rem;
    overflow: auto;
    flex-grow: 1;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #777;
    padding: .5rem;
    gap: .5rem;
}

.modal-footer .btn {
    /*margin-right: .5rem;
      used gap tag in modal-footer in stead*/
}

.btn {
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: .5rem;
    font-weight: bold;
    font-size: inherit;
/*    font-size: inherit = it inherits the closest font-size before it
    in this case from the header*/
}

.btn-primary {
    background-color: #1CA;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0A8;
}

.btn-danger {
    background-color: #C33;
}

.btn-danger:hover, .btn-danger:focus {
    background-color: #A11;
}
